<nav>
        <div id="Status">
          {{#if user}}
          <h2>{{username}} You are logged in </h2>
          <button>
          <a href="/profile">See your profile</a>
          </button>
          {{else}}
              <button>
              <a href="/auth/login">log in here</a>
              </button>

              <button>
              <a href="/auth/signup">Sign up here</a>
              </button>

          {{/if}}
        </div>
</nav>

<h1>Share your tool with the community:</h1>

<form action="/nutrition/create" method="POST" enctype="multipart/form-data">
	<label for="">Name: </label>
	<input type="text" name="name" required>
    {{#if message}}
		<p>{{message}}</p>
        <a href="/nutrition">See what else your community recommended</a>
	{{/if}}

    <label for="">Image: </label>
    <input type="file" name="appImage" required>

	<label for="">Description: </label>
	<input type="text" name="description" required>


         <h2>Rating:</h2> 
         <p class="star-rating">
            <span class="my-star star-1" data-star="1"></span>
            <span class="my-star star-2" data-star="2"></span>
            <span class="my-star star-3" data-star="3"></span>
            <span class="my-star star-4" data-star="4"></span>
            <span class="my-star star-5" data-star="5"></span>
            <input type="hidden" name="rating" readonly id="output"> 

        </p> 

	<button type="submit">Add this App</button>
</form>

        <script> 
             document.addEventListener('DOMContentLoaded', function(){
                (function(){
                    let star = document.querySelectorAll('.my-star');
                    let i = 0;
                    while (i < star.length){
                        star[i].addEventListener('click', function(){
                            let currentStar = parseInt(this.getAttribute("data-star"));
                            document.querySelector('#output').value = currentStar;
                            let pre = currentStar; //set the current star value
                            while(1 <= pre){
                                if(!document.querySelector('.star-'+pre).classList.contains('is-active')){
                                    document.querySelector('.star-'+pre).classList.add('is-active');
                                    }
                                    --pre;
                                    }
                        let succ = currentStar+1;
                        while(5 >= succ){
                            if(document.querySelector('.star-'+succ).classList.contains('is-active')){
                                document.querySelector('.star-'+succ).classList.remove('is-active');
                                }
                                ++succ;
                                }
                                })
                                i++;
                                }
                        })();
                        })
                    {{!-- wie bekomme ich die Sterne Bewertung jetzt auf die anderen views? --}}  
        </script>




