<h1>hello</h1>

<form action="/nutrition" method="POST">
	<label for="">Name: </label>
	<input type="text" name="name">

    <label for="">Image: </label>
    <input type="file" name="Image">

	<label for="">Description: </label>
	<input type="text" name="description">

	<label for="">Ratings: </label>
	<input type="text" name="rating">

	<button type="submit">Add this App</button>
</form>

