


<section class="section1-style">
  <h1 class="Welcome"> Welcome to DIA! </h1>

<h2 class="intro"> Your place to connect with people living with diabetes around the world! Share and learn all about diabetes & find your supportiv community! </h2>

     
     <button class="welcomeButton" ><a href="/nutrition"> &#10150 See what your coummunity recommends</a></button>

</section>

<div class="imageHealth"> </div>
        {{!-- <a href="/beers"> Beers  </a> &nbsp;
        <a href="/random-beer"> Random Beer  </a> --}}


