body {
  padding: 50px;
  font: 14px;
  font-family: 'Montserrat', sans-serif;
  background-image: url("images/734349-200.png");
  background-color: #FDF8F5;
}

.navTop{
  color: #344648 ;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding-left: 250px;
  text-decoration: underline;
}

.navbar{
  float: left;
  display: block;
  background-color: #DADED4;
  text-align: center;
  padding: 14px 200px;
  margin-left: 80px;
  text-decoration: none;
}
/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color:#FFFFFF;
  text-align: center;
  font-weight: 500;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.navbar a:hover {
  background-color: #A3BCB6;
  color: #344648;
}

.headline{
  padding: 10px;
  background: #FDF8F5;
  height: 80px;
  border-bottom: 2px solid #344648;
  letter-spacing: 5px; 
}

.createNewApp{
  padding: 100px;
  margin-left: 400px;
  justify-content: center;
  align-content: center;
}
.label{
  height: 40px;
  font-size: 22px;
  display: block;
  font-weight: 500;
  color: #344648;
}

.inputLongText{
  width: 400px;
  height:150px;
}
h1 {
text-align: center;
font-weight: 500;
font-size: 50px;
color: #344648;
justify-content: center;
align-items: center;
display: flex;
}

h2{
  color: #344648;
  font-weight: 500;
}

h4{
  color: #344648;
  font-weight: 500;
}

h6{
  color: #344648;
  font-weight: 500;
}

h8{
  color: #344648;
  font-weight: 500;
}

.star-rating{
  color: #bebebe;
  font-size:1.5em;
}

.my-star::before{
  content:"\002605";
}

.my-star{
  font-style: unset !important;
}

.is-active{
  color:#fb8900;
}

.my-star:not(.is-active):hover{
  color: #fb8900;
}

.nutritionOverview{
  flex-direction: row;
}
.appModule {
  float: left;
  height: 500px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 80px 50px 30px 50px;
  padding: 50px 10px 50px 50px;
  background-color: rgba(226,194,179);
}

.nutritionReviews{
  color: #344648; 
}
.appDescription{
  font-size: 10px;
  color: #344648; 
}

/* .navigationBottom{
  height: 200px;
  position: relative;
  border: 3px solid rgba(64,50,52,0.8); 
  color: #FBE0C3;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
} */

/* .navigationCenter{
  margin: 0;
  top: 50%;
  left: 50%;
  justify-content: space-between;
  float: left;
} */

/* *{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
} */
