body {
  padding: 50px;
  font: 14px;
  font-family: 'Montserrat', sans-serif;
  background-image: url("images/734349-200.png");
  background-color: #FDF8F5;
}

.navTop{
  color: #344648 ;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding-left: 250px;
  text-decoration: underline;
}


.w3-top {
  top: 0;
}

.w3-top {
  position: fixed;
  width: 93%;
  z-index: 5;
}

.w3-padding {
  padding: 3px 14px!important;
}

.w3-white, .w3-hover-white:hover {
  background-color: #fff!important;
}

.w3-card{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.w3-bar {
  width: 100%;
  overflow: hidden;
}

.w3-wide {
  letter-spacing: 4px;
}

*:before, *:after {
  box-sizing: inherit;
}

div {
  display: block;
}


.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0;
  color: #344648;

}


.w3-right {
  float: right!important;
}

/*  */
.loggedIn{
  margin-left: 500px;
  margin-bottom: 30px ;
}

/* bottom nav */

.w3-padding-16 {
  padding-top: 20px!important;
  padding-bottom: 100px!important;
}

.w3-center {
  text-align: center!important;
}

.w3-green{
  background-color: #DADED4!important;

}

.w3-bottom {
  position: fixed;
  bottom: -110;
  width: 92%;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color:#FFFFFF;
  text-align: center;
  font-weight: 500;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.navbar a:hover {
  background-color: #A3BCB6;
  color: #344648;
}

.headline{
  padding: 10px;
  background: #FDF8F5;
  height: 80px;
  border-bottom: 2px solid #344648;
  letter-spacing: 5px; 
}

.section1-style{
  height: 600px;
  margin-left: 80px;
  margin-right: 93px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  align-content: center;
  font-size: 15px;
  background-color: rgba(232,217,217,.3);
}
.Welcome{
  font-weight: bold;
  font-size: 80px;
  line-height: 2em; 
  padding: 0em;
  margin: 6px 6px 6px 6px;
}

.welcomeButton{
  float: left;
  display: block;
  background-color: #DADED4;
  text-align: center;
  padding: 10px 100px;
  margin-top: 40px;
  margin-left: 30px;
  text-decoration: none;
}

.welcomeButton a {
  float: left;
  display: block;
  color:#FFFFFF;
  text-align: center;
  font-weight: 500;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.welcomeButton a:hover {
  background-color: #A3BCB6;
  color: #344648;
}

.intro{
  font-size: 25px;
  line-height: 1.5em; 
  padding: 0em;
  margin: 6px 6px 6px 6px;
	text-align: center; 
  width: 700px;
}
.createNewApp{
  padding: 100px;
  margin-left: 400px;
  justify-content: center;
  align-content: center;
}
.label{
  height: 40px;
  font-size: 22px;
  display: block;
  font-weight: 500;
  color: #344648;
 
}
.inputLongText{
  width: 400px;
  height:150px;
}

.imageHealth{
  background-position: right, left;
  background-image: url("/images/people-eating-healthy-exercising-regularly_53876-64671-removebg-preview.png"), url("/images/tiny-employees-sitting-standing-huge-hands_74855-17900-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 350px;
}

.buttonSubmit{
  background-color: #DADED4;
  border-radius: 6px; 
  border-color: #344648;
}


.addNewApp{
  padding: 100px;
  margin-left: 400px;
  justify-content: center;
  align-content: center;
  height: 500px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 80px 50px 30px 50px;
  padding: 50px 10px 50px 50px;
  background-color:  rgba(232,217,217,.3);
}

.addNewAppText{
    font-size: 15px;
    color: #344648; 
    justify-content: space-around;
    display: column;
    padding: 30px;
    margin: 50px;
  }

.whatNext{
  display: block;
  text-align: right;
  transform: translate(-10%, -700%);
  justify-content: space-around;
}

h1 {
text-align: center;
font-weight: 500;
font-size: 50px;
color: #344648;
justify-content: center;
align-items: center;
display: flex;
}

h2{
  color: #344648;
  font-weight: 500;
}

h4{
  color: #344648;
  font-weight: 500;
}

h6{
  color: #344648;
  font-weight: 500;
}

h8{
  color: #344648;
  font-weight: 500;
}

.star-rating{
  color: #bebebe;
  font-size:1.5em;
}

.my-star::before{
  content:"\002605";
}

.my-star{
  font-style: unset !important;
}

.is-active{
  color:#fb8900;
}

.my-star:not(.is-active):hover{
  color: #fb8900;
}

.nutritionOverview{
  flex-direction: row;
}
.appModule {
  float: left;
  height: 500px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 80px 50px 30px 50px;
  padding: 50px 10px 50px 50px;
  background-color: rgba(232,217,217,.3);
}

.nutritionReviews{
  color: #344648; 
}
.appDescription{
  font-size: 10px;
  color: #344648; 
}

/* .navigationBottom{
  height: 200px;
  position: relative;
  border: 3px solid rgba(64,50,52,0.8); 
  color: #FBE0C3;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
} */

/* .navigationCenter{
  margin: 0;
  top: 50%;
  left: 50%;
  justify-content: space-between;
  float: left;
} */

/* *{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
} */
