body {
  padding: 50px;
  font: 14px;
  font-family: 'Montserrat', sans-serif;
  background-color: #E2C2B3;

}

a {
  color: #00b7ff;
}

h1 {
font-weight: 500;
font-size: 50px;
color: #344648;
justify-content: center;
align-items: center;
display: flex;
}

h2{
  color: #E2C2B3;
  font-weight: 500;
}

h4{
  color: #FBE0C3;
  font-weight: 500;
}

h6{
  color: #FBE0C3;
  font-weight: 500;
}

h8{
  color: #FBE0C3;
  font-weight: 500;
}

.star-rating{
  color: #bebebe;
  font-size:1.5em;
}

.my-star::before{
  content:"\002605";
}

.my-star{
  font-style: unset !important;
}

.is-active{
  color:#fb8900;
}

.my-star:not(.is-active):hover{
  color: #fb8900;
}

.nutritionOverview{
  flex-direction: row;
}
.appModule {
  float: left;
  height: 500px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 80px 50px 30px 50px;
  padding: 50px 10px 50px 50px;
  background-color: rgba(64,50,52,0.8);
}

.appDescription{
  font-size: 10px;
  color: #FBE0C3;
}

/* .navigationBottom{
  height: 200px;
  position: relative;
  border: 3px solid rgba(64,50,52,0.8); 
  color: #FBE0C3;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 50%;
} */

.navigationCenter{
  margin: 0;
  top: 50%;
  left: 50%;
  justify-content: space-between;
  float: left;
}

/* *{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
} */
